* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: #242424;
    color: white;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
}

.header-left {
    display: inherit;
    align-items: center;
}

.header-left__img {
    width: 150px;
    border-radius: 100%;
    border: 5px #313131 solid;
    float: left;
}

.header-left__title {
    margin-left: 1em;
    float: left;
}

.header-title h2 {
    font-size: 1em;
}

.header-right__ {}

.header-right__img {
    width: 300px;
}

.main {
    height: 50vh;
    margin: 50px 10% auto 10%;
}

#projects-title {
    font-size: 1.5em;
    text-align: center;
    color: #242424;
}

.main-projects {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: space-around;
    margin-top: 50px;
}

.imgs {
    width: 200px;
    height: 200px;
    background-color: #b4b4b4;
}