* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bolder;
}

.btn-green {
    padding: 20px;
    background-color: #1abc9c!important;
    color: white;
}

.bg-secondary {
    background-color: #2c3e50!important;
}

.jumbotron {
    background-color: #1abc9c!important;
    color: white;
    text-align: center;
    margin-top: 50px;
}